@model IEnumerable<Final_Evidence.Models.RoomsReservation>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FloorNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.RoomNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FloorNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Image)
    </td>
    <td>
        @Html.ActionLink("Edit", "index", new { RoomNo = item.RoomNo })  |

    </td>
    @Html.ActionLink("Create New", "index")
    <br />
    <a href="/MechanicServices/Download_PDF/" target="_blank" class="btn btn-primary" style="margin-top:20px;">Download_PDF</a>

</tr>
}

</table>
